<a href="https://colab.research.google.com/github/0xJCarlos/TweetBot/blob/main/TweetFetcher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tweet Fetcher
This is where the project begins, we need data to do everything in this project, and this is where we get that Data.

We use the Tweepy library to get the tweets, the JSON library to manage the tweets to store them, and pandas to organize and store the tweets inside a DataFrame and then put them inside a .csv file.

In [ ]:
#Step 0: Install Tweepy
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
#Step 0.1: Import all the libraries into our project
import tweepy
import pandas as pd
import numpy as np
import json

In [ ]:
#Step 0.2: Authentificate into the Twitter API with the Tweepy library
#DELETE THE VALUES WHEN MAKING THE REPO PUBLIC
consumer_key = "0P9DjdpkFKPVfZfpE7qDI7hQb"
consumer_secret = "RfKuIsLYISTQwlrKefIt7HLajcRdH78zHxp7FyAoVnTAiO03ay"
access_token = "1194443793317056512-QDGtnRJ5mgEsHno3j6grLAKhmYCBqv"
access_token_secret = "1mSWwkftAUlHizzITbdermR8xg98Gseg6roxPQCAARQWS"

In [ ]:
#Step 1: Create the API's Objects
#Step 1.1: Create the authentification object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

#Step 1.2: Configure the Access Token and Access Token Secret
auth.set_access_token(access_token, access_token_secret)

#Step 1.3: Create the API Object passing the auth info
api = tweepy.API(auth,parser=tweepy.parsers.JSONParser())

In [ ]:
#Step 2: Create the fetchTweets function to put the tweets inside a text file
lista2 = [] #should probably change the name of this list
def fetchTweet(tuits):
  for each_json_tweet in tuits: #Checks that retweets are not included
     if (not each_json_tweet['retweeted']) and ('RT @' not in each_json_tweet['full_text']):
      muchotexto= each_json_tweet #also change the name of this var
      lista2.append(muchotexto)
      

  with open('tweets2.txt','w') as file: #writes the tweets of the list -- maybe change the name of the file from tweets2 to tweets?
    file.write(json.dumps(lista2, indent=4))

In [ ]:
#Paso 3: Colocar los tweets dentro del archivo Step 3: Put the tweets inside the text file
#Step 3.1: Collect all the accounts from which we're getting the tweets -- There's a way to get more than 200 tweets per account, gotta work on that, also clean this mess lol
igntweets = api.user_timeline('IGN',count=200, tweet_mode='extended')
kotakutweets = api.user_timeline('kotaku',count=200, tweet_mode='extended')
polygontweets = api.user_timeline('polygon',count=200, tweet_mode='extended')
engadgettweets = api.user_timeline('engadgetgaming', count=200, tweet_mode='extended')
eurogamertweets = api.user_timeline('eurogamer', count=200, tweet_mode='extended')
gamesindustrytweets = api.user_timeline('GIBiz', count=200, tweet_mode='extended')
gamedevtweets = api.user_timeline('gamedevdotcom', count=200, tweet_mode='extended')
destructoidtweets = api.user_timeline('destructoid', count=200, tweet_mode='extended')
vgctweets = api.user_timeline('VGC_News', count=200, tweet_mode='extended')
vg247tweets = api.user_timeline('VG247', count=200, tweet_mode='extended')
gamesbeattweets = api.user_timeline('GamesBeat', count=200, tweet_mode='extended')
rockpapershottweets = api.user_timeline('rockpapershot', count=200, tweet_mode='extended')

tweets=[igntweets,kotakutweets,polygontweets,engadgettweets,eurogamertweets,gamesindustrytweets,gamedevtweets,destructoidtweets,vgctweets,vg247tweets,gamesbeattweets,rockpapershottweets]
#Step 3.2: Get the tweets, finally
for tuit in tweets:
  fetchTweet(tuit)

In [ ]:
#Step 4: Opening the Tweets as JSON, append into a dataframe
lista_demo = []
with open('tweets2.txt',encoding='utf-8') as json_file:
  all_data = json.load(json_file)
  for each_dictionary in all_data:


    lista_demo.append(each_dictionary)
    
    tweetsColectivos = pd.DataFrame(lista_demo)

In [ ]:
tweetsColectivos #Display the DataFrame

                          created_at  ...  quoted_status
0     Thu Jan 06 01:01:01 +0000 2022  ...            NaN
1     Thu Jan 06 00:31:03 +0000 2022  ...            NaN
2     Thu Jan 06 00:01:02 +0000 2022  ...            NaN
3     Wed Jan 05 23:31:00 +0000 2022  ...            NaN
4     Wed Jan 05 23:04:27 +0000 2022  ...            NaN
...                              ...  ...            ...
2320  Mon Dec 06 22:34:51 +0000 2021  ...            NaN
2321  Mon Dec 06 22:04:01 +0000 2021  ...            NaN
2322  Mon Dec 06 21:13:02 +0000 2021  ...            NaN
2323  Mon Dec 06 17:31:00 +0000 2021  ...            NaN
2324  Mon Dec 06 16:51:39 +0000 2021  ...            NaN

[2325 rows x 30 columns]

In [ ]:
#Step 5: Saving the DataFrame as a .CSV file
tweetsColectivos.to_csv('tweetscompletos.csv')